/******************/
/* Règles de base */
/******************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

/**********/
/* Règles */
/**********/

body{
    background-image: url(../images/background.png);
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: "Arial";
}

.page_connexion{
    display: flex;
    align-items: center;
    margin-right: 100px;
}

.connexion{
    width:600px;
    height:700px;
    background: #46417F;
    color: #B2ADD6;
    font-size: 20px;
    margin-left: 100px;
    padding: 50px;
    margin-top: 50px;
    padding-bottom: 100px;
}

.connexion input{
    margin-bottom: 15px;
}

.connexion input[type=text]{
    width: 400px;
}

.connexion input[type=password]{
    width: 400px;
}

.connexion a{
    text-decoration: underline;
    text-decoration-color: #B2ADD6;
    color: #B2ADD6;
    font-size: 15px;
}

.connexion input[type=submit]{
    margin-left: 200px;
    margin-top: 20px;
}

.logo{
    margin-left: 25px;
}

.inscription{
    width:600px;
    height:700px;
    background: #46417F;
    color: #B2ADD6;
    margin-left: 25px;
    margin-top: -100px;
    font-size: 20px;
    padding: 50px;
}

.inscription input{
    margin-bottom: 15px;
}

.inscription input[type=text]{
    width: 400px;
}

.inscription input[type=password]{
    width: 400px;
}

.inscription #feminin{
    margin-left: 62px;
}

.inscription #autre{
    margin-left: 62px;
}

.inscription input[type=submit]{
    margin-left: 200px;
    margin-top: 20px;
}

.page_404{
    text-align: center;
    color: #B2ADD6;
    margin-top: 200px;
}

.page_404 p{
    font-size: 40px;
}

.page_404 a{
    font-size: 25px;
    color: #B2ADD6;
}

.page_accueil{
    display: flex;
}

#sidebar-menu{
    text-align: center;
    font-size: 20px;
    color: #9D9DCE;
    background-color: #EFEEEE;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

#sidebar-menu #profil:hover{
    cursor: pointer;
}

#sidebar-menu #photoDeProfil{
    height: 150px;
    width: 150px;
}

#menu-liens{
    margin-top: 100px;
}

#menu-liens a{
    color: #9D9DCE;
    text-decoration: none;
}

#menu-liens a:hover{
    text-decoration: underline;
}

#liste-amis{
    margin-top:100px;
    padding-bottom: 150px;
}

#liste-amis li{
    list-style-type: none;
}

#liste-amis a{
    color: #9D9DCE;
    text-decoration: none;
}

#liste-amis a:hover{
    text-decoration: underline;
}

#sidebar-menu #lien-deconnexion{
    color: #9D9DCE;
    text-decoration: none;
    padding: 10px;
    background-color: #46417F;
    border-radius: 10px;
    margin-top: 100px;
}

#sidebar-menu #lien-deconnexion:hover{
    color:#46417F;
    background-color: #9D9DCE;
    border-radius: 10px;
}

#main-contain{
    background-color: #46417F;
}

#friend-search{
    margin-top: 50px;
    margin-left: 250px;
    padding: 10px;
    width: 800px;
    border-radius: 10px;
    color: #9D9DCE;
}

.contain_contain-accueil{
    background-color: #EFEEEE;
    margin-left: 100px;
    margin-top: 50px;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 5px;
}

.post-perso:not(:last-child){
    margin-bottom: 10vh;
}

.main-post{
    background-color: #9D9DCE;
    margin-left: 50px;
    border-radius: 10px;
    display: flex;
    margin-right: 200px;
}

.main-post img{
    margin-left: 20px;
    margin-top: 20px;
}

.photo-auteur{
    height: 100px;
    width: 100px;
}

.text-post .nom-auteur{
    color: #EFEEEE;
    font-size: 20px;
    margin-top: 25px;
    margin-left: 10px;
}

.text-post img{
    width: 200px;
    height: 200px;
}

.date-post{
    text-align: right;
    font-size: 15px;
    color: #46417F;
}

.commentaire-post{
    margin-left: 50px;
    margin-top: 10px;
    font-size: 20px;
}

.commentaire{
    display: flex;
    margin: 10px;
}

.commentaire .photo-profil-commentateur{
    height: 75px;
    width: 75px;    
    border: 3px #2d2c3c solid;
    border-radius: 60%;
}

.commentaire .main-commentaire{
    margin-left: 20px;
    padding-right: 200px;
}

.commentaire .main-commentaire .commentaire-commentateur{
    background-color: #9D9DCE;
    border-radius: 50px;
    margin-top: 30px;
    padding: 10px;
    color: #EFEEEE;
}

.commentaire .main-commentaire .date-commentaire{
    margin-left: 200px;
    
}

.footer{
    background-color: #46417F;
    text-align: center;
    padding-right: 70px;
    padding-left: 70px;
    
}

#copyright{
    color:#EFEEEE;
    margin-top: 599px;
    padding: 10px;
}

#copyright img{
    height: 100px;
    width: 100px;
}

#copyright-text{
    text-align: right;
}

.contain_contain-profil{
    background-color: #EFEEEE;
    margin: 50px;
    padding-right: 
    border-radius: 10px;
}

#profil-entete{
    display: flex;
    margin: 25px;
    padding: 10px;
    padding-left: 400px;
}

#photoDeProfil-entete{
    height: 200px;
    width: 200px;
}

#infos{
    font-size: 20px;
    color: #9D9DCE;
    margin: 10px;
}

#amis-titre{
    text-align: center;
    color: #9D9DCE;
    font-size: 25px;
}

.ligne_carte-ami{
    display: flex;
}

.carte-ami{
    margin-right: 50px;
    margin-left: 50px;
    background-color: #9D9DCE;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    color: #EFEEEE;
    text-align: center;
}
.carte-ami img{
    height: 150px;
    width: 150px;
}