/******************/
/* Règles de base */
/******************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

/**********/
/* Règles */
/**********/
.body{
    background-image: url(../images/Fond/connexion.jpg);
}

.page_connexion{
    display: flex;
    align-items: center;
    margin-top: -115px;
    margin-left: 100px;
    margin-right: 100px;
}

.connexion{
    color: #B2ADD6;
    font-size: 20px;
    padding: 100px;
    margin-top: 50px;
    padding-bottom: 100px;
}

.connexion input{
    margin-bottom: 10px;
}

.connexion a{
    text-decoration: underline;
    text-decoration-color: #B2ADD6;
    color: #B2ADD6;
    font-size: 15px;
}
.inscription{
    color: #B2ADD6;
    margin-left: 300px;
    font-size: 20px;
    padding: 100px;
}

.inscriptipn input{
    margin-bottom: 10px;
}